@media(max-width: 991px) {
    .block h1 {
      font-size: 50px;
    }
  }
  
@media(max-width: 990px) {

  .home {
    background-size: 210%;
    background-repeat: no-repeat;
  }

    .home .home-content .block h1 {
      font-size: 40px;
    }
  
    .home .home-content .block h3 {
      font-size: 25px;
    }
  
    header {
      padding: 15px;
      position: fixed;
      background-color: rgb(236, 241, 250);
      border-bottom: 1px solid #eee;
    }
  
    .brand-name .logo {
      color: #01143e;
    }
  
    .navbar {
      position: absolute;
      background-color: rgb(236, 241, 250);
      width: 100%;
      left: 0px;
      top: 60px;
      padding: 15px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      display: none;
    }
  
    .navbar .show {
      display: block;
    }

    .about .img {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .about .text {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0px;
      padding-top: 30px;
      text-align: justify;
    }
    .message .container .row .message-text {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  
    .message .button {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  
    .blog-content {
      padding: 40px 20px;
    }
  
    .blog-content .blog-box {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 40px;
    }

    .author-img {
      max-width: 40%;
      margin-bottom: 0px;
    }

    .author-info .text{
      max-width: 100%;
      text-align: justify;
    }

    .post .img {
      flex: 0 0 100%;
      max-width: 100%;
    }

    figcaption {
      margin-bottom: 50px;
    }

    .blog-content .row .text {
      max-width: 100%;
      text-align: justify;
    }
    
    .post-button
    {
      max-width: 100%;
    }
  }
  
  @media(max-width: 500px) {

    .home {
      background-size: 400%;
      background-repeat: no-repeat;
    }
    
    .home .home-content .block {
      padding-left: 20px;
    }
  
    .home .home-content .block h1 {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
    .home .home-content .block h3 {
      font-size: 15px;
    }
  
    .about .about-content .social a {
      margin: 0px 3px;
    }

    .about .about-content .text {
      text-align: justify;
    }

    .author-info{
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0px;
      padding-top: 5px;
      text-align:justify;
    }

    .blog .blog-content {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0px;
      padding-top: 30px;
    }
    
    .img img {
      width: 100%;
      border-radius: 4px;
      display: block;
    }

    .author-img {
      max-width: 60%;
      margin-bottom: 0px;
    }

    .author-info .text{
      max-width: 100%;
      text-align: justify;
    }

    .post .img {
      flex: 0 0 100%;
      max-width: 100%;
    }

    figcaption {
      margin-bottom: 50px;
    }

    .blog-content .row .text {
      max-width: 100%;
      text-align: justify;
    }
    
    .post-button
    {
      max-width: 100%;
    }
  }